# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# Editor files
.vscode/
.idea/
*.swp

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# macOS
.DS_Store

# Optional coverage files
htmlcov/
.coverage
coverage.xml
